.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
  margin: 5px;
}

.header {
  background: salmon;
  height: 120px;
}

.footer {
  background: pink;
  width: 1140px;
  height: 120px;
}

.main {
  text-align: left;
  background: khaki;
  height: 300px;

}

.aside-1 {
  background: lightgreen;
  width: 20%;
  height: 300px;

}

.aside-2 {
  background: skyblue;
  width: 160px;
  height: 300px;

}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 30px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em;
}
